<%- include('./partials/head') %>
<body>
<main>

    <section class="hero section" id="section1">
        <h1 class="hero-we-text">We</h1>
        <img class="we-love-web-hearth" src="img/hart.png" width="300" height="300">
        <h1 class="hero-web-text">Web</h1>
    </section>

    <section class="intro section" id="section2">
        <h2 id="introText1">Hier kun je al mijn we</h2>
        <h2 id="introText2">web lezingen bekijken</h2>
    </section>

    <section class="we-love-webs section" id="section3">
        <ul class="we-love-web-cards">
            <li class="we-love-web-item">
                <figure id="figure1">
                <img>
                </figure>
                <div class="we-love-web-item-text">
                <h2>Simon Noko</h2>
                <p>Simon noko is de oprichter van noko</p>
                </div>
            </li>
        </ul>


    </section>
</main>
<footer>

</footer>
</body>

<%- include('./partials/foot') %>