<%- include('./partials/head') %>
<body>
<main>

    <section class="hero section" id="section1">
        <h1 class="hero-we-text">We</h1>
        <img class="we-love-web-hearth" src="img/hart.png" width="300" height="300">
        <h1 class="hero-web-text">Web</h1>
    </section>

    <section class="intro section" id="section2">
        <h2 id="introText1">Hier kun je al mijn we</h2>
        <h2 id="introText2">web lezingen bekijken</h2>
    </section>

    <section class="we-love-webs section">
        <ul class="we-love-web-cards">
            <li class="we-love-web-item" id="note1">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">Justus Digetal Gardening</h2>
                    <p class="we-love-web-item-p">Justus lezing ging over digetal gardening</p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen Justus Digetal Gardening</h2>
                        <p>Justus gaf een we love web over digital gardening en het indie web.</br></br>
                            Hij benadrukte het belang van het bezitten van je eigen web, omdat anders het web jou bezit.
                            Justus heeft al zijn werk op zijn eigen platform staan, met meerdere back-ups, zodat hij
                            altijd toegang heeft tot zijn werk, zelfs als er iets uitvalt.</br>
                            Hoewel Justus het web fantastisch vindt, merkt hij op dat het tegenwoordig anders aanvoelt,
                            en niet op een positieve manier. Vroeger leek alles mogelijk, maar nu niet meer. Hij
                            herinnert zich nog de tijd waarin hij begon te coderen met programma's zoals de command
                            prompt.</br>
                            Voor Justus markeerden Hyves en Facebook het einde van het authentieke web. Alles begon en
                            voelde hetzelfde aan, en mensen maakten geen eigen webpagina's meer.</br></br>
                            Hij moedigde mensen aan om te beginnen met 'tuinieren' op het web. Het hoeft niet perfect te
                            zijn of meteen af, maar het gaat om het proces. Net als bij tuinieren, kun je steeds iets
                            toevoegen, bijsnoeien of zelfs verwijderen.
                        </p>
                    </details>
                </div>
            </li>

            <li class="we-love-web-item" id="note2">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">Simon Noko</h2>
                    <p class="we-love-web-item-p">Simon noko is de oprichter van noko</p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen simon noko</h2>
                        <p>Simon is een ontwerper en ontwikkelaar die als freelancer werkt in computationeel ontwerp.
                            Hij gebruikt zijn technische vaardigheden om creatieve ontwerpen te maken. Je kunt meer over
                            hem vinden op zijn persoonlijke website.</br></br> Hij oefent met Javascript door sinus- en
                            cosinusfuncties te gebruiken. </br></br>Simon deelt ook enkele tips, zoals: specialiseer je
                            niet te
                            veel, let op je taalgebruik, het idee is belangrijker dan alleen het resultaat, verzamel je
                            eigen referenties en blijf uniek door anders te zijn.</p>
                    </details>
                </div>
            </li>

            <li class="we-love-web-item" id="note3">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">Joubranjad</h2>
                    <p class="we-love-web-item-p">Bouw je Business op Jouw Manier</p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen simon noko</h2>
                        <p>Bouw je Business op Jouw Manier
                            Introductie:<br>

                            Joubranjad biedt inline web consulting en code cursussen.
                            Hij startte zijn eigen bedrijf na ontevredenheid over de te korte JavaScript-lessen bij een
                            vorige werkgever.
                            Tips voor het Starten van een Business:
                            <br>
                            Begin Simpel:
                            Start met de basis en minimale vereisten om te testen of je idee werkt.
                            Snel Lanceren:
                            Bouw niet langer dan drie maanden aan je product; lanceer snel om gebruikersfeedback te
                            verzamelen.
                            Stapsgewijze Benadering:
                            Eerst de nodige vaardigheden opbouwen, dan vraag creëren en vervolgens de eerste versie
                            bouwen.
                            Gebruik van Platforms:
                            Probeer je product op Hacker News te promoten.
                            Geen Betaalde Advertenties:
                            Betaal in het begin niet voor advertenties; focus op het leren kennen van je klanten.
                            SEO en Mond-tot-Mondreclame:
                            Richt je op zoekmachineoptimalisatie en mond-tot-mondreclame.
                            <br><br>
                            Growth Tips:
                            <br>
                            Kwaliteit boven Kwantiteit:
                            Focus op het leveren van minder, maar hogere kwaliteit producten.
                            Geen Investeerders:
                            Vermijd investeerders die vaak kwantiteit boven kwaliteit stellen.
                            Klantenondersteuning:
                            Richt je op goede klantenondersteuning voor waardevolle feedback.
                            <br><br>
                            Financieel Beheer:
                            <br>
                            Houd de kosten zo laag mogelijk.
                            Waarden voor Gebruikers:
                            Kwaliteit, vertrouwen, de beste kwaliteit bieden, geen shady trucs en geen Black Friday
                            kortingen.
                            Persoonlijke Waarden:
                            Accepteer dat je niet iedereen blij kunt maken.
                            Werk met korte productcycli om functies snel te kunnen releasen.
                            Vrijheid door automatisering.
                            <br><br>
                            Imposter Syndrome:
                            <br>
                            Voel je soms een bedrieger, maar weet dat dit gevoel normaal is.
                            <br><br>
                            Concurrentie met Grote Bedrijven:
                            <br>
                            Zorg dat je sneller feedback kunt verwerken.
                            Focus op kleine overwinningen in plaats van alles te willen verslaan.
                            Hoe Word je een Betere Leraar
                            <br><br>
                            Studentgericht Onderwijzen:
                            Verplaats je eerst in de student om beter les te geven.
                            <br><br>
                            Leertips:
                            <br>
                            Gebruik flashcards voor herhaalde blootstelling aan informatie.
                            Stampen werkt niet; herhaal de informatie over langere tijd om verbindingen in de hersenen
                            te maken.
                            Neem na elke 50 minuten studeren een korte pauze.
                            Slaap is cruciaal voor het opslaan van informatie.
                            Neem soms langere pauzes van bijvoorbeeld een week.
                            Maak het leerproces leuker door het te gamificeren.
                            Abonneer je op nieuwsbrieven en bekijk relevante YouTube-video's.
                            Aanbevolen boek: "Make It Stick".</p>
                    </details>
                </div>
            </li>

            <li class="we-love-web-item" id="note4">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">Kevin Powell</h2>
                    <p class="we-love-web-item-p">Kevin Powell legt veel css onderwerpen uit </p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen Kevin Powell</h2>
                        <p>Kevin Powell is een youtuber die veel coole projecten met code maakt. Hij legt veel uit over
                            css js en html technieken. Ik kijk hier vaak naar om inspiratie op te doen maar ook om meer
                            te leren over nieuwe technieken. </br></br>Dit zijn wat voorbeelden wat ik bekeken heb.</p>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/watch?v=UmzFk68Bwdk">Scroll Animations</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=_lEkD8IGkwo&list=PL4-IK0AVhVjPv5tfS82UF_iQgFp4Bl998">CSS
                                    Grid</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=-VOUK-xFAyk&t=176s">Animated Gradient</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=hwbqquXww-U&list=PL4-IK0AVhVjMSb9c06AjRlTpvxL3otpUd">Flexbox</a>
                            </li>
                        </ul>
                    </details>
                </div>
            </li>

            <li class="we-love-web-item" id="note5">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">W3 Schools</h2>
                    <p class="we-love-web-item-p">W3 Schools is een leerzame site met veel artikelen over code</p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen W3 Schools</h2>
                        <p>Op w3schools staan veel leerzame voorbeelden van css , html en js technieken.</br></br> Ik
                            kijk hier
                            regelmatig op om zo nieuwe dingen te leren, maar ook als ik een nieuwe techniek wil
                            toepassen in mijn project die ik nog niet beheers of er meer van wil weten.</br></br> Dit
                            zijn hier
                            voorbeelden van.</p>
                        <ul>
                            <li>
                                <a href="https://www.w3schools.com/css/css_icons.asp">CSS Icons</a>
                            </li>
                            <li>
                                <a href="https://www.w3schools.com/css/css_positioning.asp">CSS Layout Propertie</a>
                            </li>
                        </ul>
                    </details>
                </div>
            </li>

            <li class="we-love-web-item" id="note6">
                <img class="we-love-web-item-img" src="/img/hart.png">
                <div class="we-love-web-item-text">
                    <h2 class="we-love-web-item-h2">CSS Weekly Newsletter</h2>
                    <p class="we-love-web-item-p">CSS Weekly geeft nieuws over nieuwe css technieken</p>
                    <details class="notes">
                        <summary>Bekijk aantekeningen</summary>
                        <h2>Aantekeningen simon noko</h2>
                        <p>Ik ben ingeschreven voor de css weekly waarin ik wekenlijks artikelen doorgestuurd krijg over
                            nieuwe technieken. Ook kan j eop hun website veel nuttige artikels vinden. </br></br>Dit
                            zijn hier voorbeelden van:</p>
                    <ul>
                        <li>
                            <a href="https://moderncss.dev/12-modern-css-one-line-upgrades/?utm_source=CSS-Weekly&utm_campaign=Issue-575&utm_medium=web">CSS
                                One line</a>
                        </li>
                        <li>
                            <a href="https://12daysofweb.dev/2023/container-style-queries/?utm_source=CSS-Weekly&utm_campaign=Issue-572&utm_medium=web">CSS
                                Container Queries</a>
                        </li>
                        <li>
                            <a href="https://www.joshwcomeau.com/css/interactive-guide-to-grid/?utm_source=CSS-Weekly&utm_campaign=Issue-568&utm_medium=web">CSS
                                Grid</a>
                        </li>
                    </ul>
                    </details>
                </div>
            </li>
        </ul>
    </section>
</main>
<footer>
</footer>
</body>
<%- include('./partials/foot') %>