<%- include('./partials/head') %>
<body>
<main>

    <section class="hero">
        <h1>We</h1>
        <img src="img/hart.png">
        <h1>Web</h1>
    </section>

    <section class="intro">
        <h2>Hier kun je</h2>
        <h2>Ak mijn</h2>
        <h2>We love web</h2>
        <h2>Lezingen bekijken</h2>
    </section>

    <section class="we-love-webs">

        <div class="we-love-web-cards">
        <img>
        <p>Simon Noko</p>
        </div>

        <div class="we-love-web-cards">
            <img>
            <p>Justus</p>
        </div>
    </section>
</main>
<footer>

</footer>
</body>
</html>